// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples

@import "../valo/valo.scss";

@mixin shtheme {
  @include valo;


.v-ui > .v-widget {
   overflow: visible;
}
 .root {
 }
 
 .screen {
 }

.center {
margin: 0 auto;
}

.login-field {
}


.popup-box {
background: white;
border-radius: 25px;
border: 1px solid #aaaaaa;
box-shadow: 10px 10px 5px #888888;
}

.list-but {
margin-top: 0px;
width: 150px;
height: 20px;
text-align: center;
padding: 0px 0px 0px 0px;
margin-bottom: 0px;
}

.list-but .v-icon {
//float: left;
margin-left: 100px;
margin-top: -10px;
height: 15px;
}


.margin15 {
margin: 15px;
}

.margin30 {
margin: 30px;
}


.margin-left0 {
margin-left: 0px;
}
.margin-left15 {
margin-left: 15px;
}
.margin-left30 {
margin-left: 30px;
}
.margin-left45 {
margin-left: 45px;
}
.margin-left60 {
margin-left: 60px;
}
.margin-left75 {
margin-left: 75px;
}
.margin-top30 {
margin-top: 30;
}
.margin-top40 {
margin-top: 40px;
}
.margin-bot40 {
margin-bottom: 40px;
}

.margin-rl30 {
margin-left: 30px;
margin-right: 30px;
}

.margin-r80 {
margin-right: 80px;
}
.margin-bot30 {
margin-bottom: 30px;
}
.border-black-solid {

border: 2px solid black;
}

.float-center {
float: center;
}
.float-right {
float: right;
}
.fuzzy {
opacity: 0.3;
}

.error-font {
color: red;
}

.success-font {
color: green;
}

.center70 {
width: 70%;
margin: auto;
}
.center80 {
width: 80%;
margin: auto;
}
.center90 {
width: 90%;
margin: auto;
}
.center100 {
width: 100%;
margin: auto;
}


.user-select {
width: 250px;
height: 150px;
margin-top: 15px;
text-align: left;
border: 2px solid black;

}


.border-r-l {
border: 2px solid black;

}

.border-bot {
border-bottom: 2px solid black;
}

.bg-blue {
background: blue;
}

.border-none {
border-style: none;

}

.bg-black {
background: black;
}

.bg-red {
background: red;
}



}
